# Client Next & Netlify Output
packages/client/.next/
packages/client/out_publish/*
packages/client/out_functions/*

# Admin Next & Netlify Output
packages/admin/.next/
packages/admin/out_publish/*
packages/admin/out_functions/*

packages/*/dist/
**/generated
node_modules/
dist
packages/server/saves/
