@use "sass:string";
@import "style/variables";
$bg-glow-height: 320px;

.landingPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $muiSurface1;
  padding: 0 10vw;

  > div {
    width: 80vw;
    position: relative;
    z-index: 1;
  }

  .sectionDark::after{
    content: "";
    position:absolute;
    display: block;
    left:-50%;
    top:0;
    width: 200vw;
    height: 100%;
    background-color: $charcoal;
    z-index: -1;
  }
}

.loading{
  position: relative;
  //height: 100vh;
  //width: 100vw;
  //overflow: hidden;
  &::after{
    content: "";
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: $charcoal;
    background-image: url("/assets/landingpage/loader.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    z-index: 100;
  }
}

.spacer{
  height: 120px;
  background: transparent;
}
