@import "style/variables";

.features{
  text-align: center;
}

.bottom{
  display: grid;
  grid-gap: 24px 0;
  justify-items: center;

  @include breakpoint(sm){
    grid-template-columns: repeat(1, auto);
  }

  @include breakpoint(md){
    grid-template-columns: repeat(2, auto);
  }

  @include breakpoint(lg){
    grid-template-columns: repeat(3, auto);
  }

}

.visible{
  animation: moveIn 1.5s ease-in-out forwards;
}

.card{
  background-color: $muiSurface2;
  width: 300px;
  height: 262px;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.30), 0 8px 12px 6px rgba(0, 0, 0, 0.15);

  &Text{
    padding: 24px 24px 48px;
  }

  &Title{
    font-size: 16px;
    letter-spacing: 0.1px;
    font-weight: 600;
    font-family: Metropolis, sans-serif;
  }

  &Description{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
  }

  &Icon{
    padding:15px;
    width: 66px;
    height: 66px;
    margin-top:48px;
    background-color: $muiSurface4;
    border-radius: 8px;
  }
}


@keyframes moveIn {
    0% {
        opacity: 0;
        padding-top: 200px;
        grid-gap: 38px 0;
    }
    25% {
      opacity: 0;
      padding-top: 200px;
      grid-gap: 38px 0;
    }
    100% {
        padding: 0;
        transform: translateY(0);
        grid-gap: 24px 0;
    }
}
