@import "style/variables";
$horizontalGap: 72px;

.titleWrapper{
  h1{
    color: $muiPrimary;
  }
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
  background: none;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &Wrapper{
    width: 100%;
    display: grid;
    margin-bottom: 36px;

    @include breakpoint(xs){
        grid-template-columns: repeat(1, auto);
        gap: 48px;
    }

    @include breakpoint(sm){
        grid-template-columns: repeat(3, auto);
        gap: $horizontalGap;
    }
  }

  &Icon{
    width: 36px;
    height: 36px;
  }

  &Title{
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 16px;
    font-size: 14px;

    @include breakpoint(md){
      font-size: 16px;
    }
  }

  &Description{
    font-weight: 400;
    font-size: 12px;

    @include breakpoint(lg){
      font-size: 14px;
    }
  }
}

.lines{
  width: 100%;
  position: relative;

  @include breakpoint(xs){
    visibility: hidden;
  }

  @include breakpoint(sm){
    visibility: visible;
  }

  &Wrapper{
    position: relative;
    width: calc(66% + #{$horizontalGap});

    &::before{
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }
  }
}

.visible::before{
  background: $charcoal;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
      height: 100%;
    }
    25% {
      height: 100%;
    }
    100% {
      height: 0;
    }
}
