@import "style/variables";

.openSource{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 60px 0;
}

.preTitle{
  font-weight: 600;

  font-size: 14px;
  @include breakpoint(sm) {
    font-size: 24px;
  }
    @include breakpoint(md) {
        font-size: 32px;
    }
}

.title{
  font-weight: 900;
  color: $muiPrimary;

  font-size: 36px;
    @include breakpoint(sm) {
        font-size: 45px;
    }
    @include breakpoint(md) {
        font-size: 57px;
    }
}

.description{
  font-weight: 400;
  letter-spacing: 0.4px;

  font-size: 12px;

  @include breakpoint(sm) {
    font-size: 14px;
  }
  @include breakpoint(md) {
      font-size: 16px;
  }
}

.buttonWrapper{
  margin-top: 24px;
}
