@import "style/variables";


.container{
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title{
    font-weight: 600;
    line-height: 40px;
    font-family: Metropolis, sans-serif;

    font-size: 24px;
    @include breakpoint(md){
      font-size: 32px;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:12px;
    &::before, &::after{
      content: "";
      display: block;
      width: 20vw;
      height:1px;
      margin:0 40px;
    }
    &::before{
      background: linear-gradient(to left, $muiPrimary, $charcoal);
    }
    &::after{
      background: linear-gradient(to right, $muiPrimary, $charcoal);
    }
  }

  .visible{
    &::before, &::after{
      animation: fadeIn 800ms ease-in-out forwards;
    }
  }

  .description{
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-family: Metropolis, sans-serif;

    font-size: 12px;
    @include breakpoint(md){
      font-size: 16px;
    }
  }
}

@keyframes fadeIn{
  from {
    width: 0;
  }
  to{
    width: 20vw;
  }
}
