@import "style/variables";


.component{
  width: 100vw !important;
  display: flex;
  justify-content: center;
  background-color: $charcoal;

  &::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}

.tetris{
  height: 100vh;
}

.content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  & > *{
    max-width: 46.5rem;
    margin: 0 1.5rem;
    text-shadow: $charcoal 0.0625rem 0 0.625rem;
  }

  .title{
    font-size: 2.25rem;
    font-weight: 900;

    @include breakpoint(sm){
      font-size: 2.8125rem;
    }
    @include breakpoint(md){
      font-size: 3.5625rem;
    }
  }

  .description{
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.03125rem;

    @include breakpoint(sm){
      font-size: 0.875rem;
    }
    @include breakpoint(md){
      font-size: 1.0rem;
    }
  }

  .buttonWrapper{
    padding-top: 2.25rem;
    display: flex;
    gap: 2.25rem;
  }
}


