name: Docker Hub - Development Backend Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - infra/docker-hub

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build, tag, and push image to Docker Hub
        id: build-image
        env:
          DOCKER_HUB_REPOSITORY: docker-hub-repo
          IMAGE_TAG: ${{ github.sha }}
          USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
        run: |
          docker build -t $USERNAME/$DOCKER_HUB_REPOSITORY:$IMAGE_TAG -f scripts/server.Dockerfile .
          docker push $USERNAME/$DOCKER_HUB_REPOSITORY --all-tags
          echo "::set-output name=image::$DOCKER_HUB_REPOSITORY:$IMAGE_TAG"
